:root {
  // BASE
  --font-family-Quicksand-: 'Quicksand', sans-serif;
  --font-family-Kosugi-: 'Kosugi', sans-serif;
  --font-family-KaushanScript-: 'KaushanScript', sans-serif;

  // COLORS
  --color-white: #ffffff;

  //background-black
  --color-background-B: #151515;
  --color-orange-B: #ff8c42;
  --color-beige-B: #ffddc8;
  --color-grey-B: #dddddd;
  --color-greyBG-B: #444444;

  //background-white
  --color-background-B: #1e1e1e;
  --color-background-W: #f4f4f4;
  --color-orange-W: #ff5b00;
  --color-brown-W: #7b3000;
  --color-grey-W: #d9d9d996;
}
